.header {
  display: flex;
  align-items: center;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  .logo {
    margin-right: 3em;
  }

  .nav {
    display: flex;
    align-items: center;

    &-list {
      display: flex;
      list-style: none;

      &__item {
        font-size: 1.8rem;
        margin-right: 1.1em;

        &--active {
          color: $primary;
          font-weight: 700;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }

    .locales {
      display: none;
    }
  }
}
